@{
    ViewBag.Title = "Home Page";
}
@model DatabaseAndTimer.Models.PersonModel

<div>
    <p id="displayName">@Html.DisplayTextFor(model => model.Name)</p>
</div>    
<div>
    <p>Name: @Html.TextBoxFor(m => m.Name, new { id = "textBox" })</p>
</div>
<button onclick="setFunction()">Set</button>
<button onclick="getFunction()">Get</button>
@section scripts {
<script type="text/javascript">
    const URL = "http://localhost:61916/api/API"
    $(document).ready(function () {
        alert("hello");
    });
    var timer = setInterval(getFunction, 1000);
    function getFunction() {
        $.get(URL, function(data, status){
            console.log(data);
        });
    };
    const name = "test";
    function setFunction() {
        $.post(URL, name, function (data, status) {
            console.log('${name} and status is ${status}')
        });
    };
</script>
}

